# Import Libraries

In [9]:
import sys
sys.path.append("/home/felix/PycharmProjects/Quantum-Challenge/")
import pandas as pd
import xarray as xr

In [25]:
max_alt= 39000 #feet

In [34]:
flight_df = pd.read_csv("../data/flights.csv", sep=";")

In [33]:
cruise_df = pd.read_csv("../data/bada_data.csv", sep=";").iloc[:,[0,1,2]]
climb_df = pd.read_csv("../data/bada_data.csv", sep=";").iloc[:,[0,3,4,5]]
descent_df = pd.read_csv("../data/bada_data.csv", sep=";").iloc[:,[0,6,7,8]]

In [37]:
ds = xr.open_dataset("../data/aCCF_0623_p_spec.nc")
climate_df = ds.to_dataframe()
climate_df

                                                        LEVEL11_24_bnds  \
LONGITUDE LATITUDE LEVEL11_24 bnds TIME
-100.0    34.0     100        0    2018-06-23 06:00:00               85
                                   2018-06-23 12:00:00               85
                                   2018-06-23 18:00:00               85
                              1    2018-06-23 06:00:00              112
                                   2018-06-23 12:00:00              112
...                                                                 ...
 30.0     60.0     600        0    2018-06-23 12:00:00              575
                                   2018-06-23 18:00:00              575
                              1    2018-06-23 06:00:00              625
                                   2018-06-23 12:00:00              625
                                   2018-06-23 18:00:00              625

                                                          MERGED    SG_NOX  \
LONGITUDE LATITUDE LEVEL11_24 bnds TIME
-100.0    34.0     100        0    2018-06-23 06:00:00  0.123807  0.061094
                                   2018-06-23 12:00:00  0.124496  0.061714
                                   2018-06-23 18:00:00  0.123449  0.060782
                              1    2018-06-23 06:00:00  0.123807  0.061094
                                   2018-06-23 12:00:00  0.124496  0.061714
...                                                          ...       ...
 30.0     60.0     600        0    2018-06-23 12:00:00  0.118673  0.058738
                                   2018-06-23 18:00:00  0.120196  0.060038
                              1    2018-06-23 06:00:00  0.116333  0.056432
                                   2018-06-23 12:00:00  0.118673  0.058738
                                   2018-06-23 18:00:00  0.120196  0.060038

                                                        SG_DCONT    SG_H2O  \
LONGITUDE LATITUDE LEVEL11_24 bnds TIME
-100.0    34.0     100        0    2018-06-23 06:00:00       0.0  0.003785
                                   2018-06-23 12:00:00       0.0  0.003854
                                   2018-06-23 18:00:00       0.0  0.003739
                              1    2018-06-23 06:00:00       0.0  0.003785
                                   2018-06-23 12:00:00       0.0  0.003854
...                                                          ...       ...
 30.0     60.0     600        0    2018-06-23 12:00:00       0.0  0.001007
                                   2018-06-23 18:00:00       0.0  0.001230
                              1    2018-06-23 06:00:00       0.0  0.000973
                                   2018-06-23 12:00:00       0.0  0.001007
                                   2018-06-23 18:00:00       0.0  0.001230

                                                            E022
LONGITUDE LATITUDE LEVEL11_24 bnds TIME
-100.0    34.0     100        0    2018-06-23 06:00:00  0.058928
                                   2018-06-23 12:00:00  0.058928
                                   2018-06-23 18:00:00  0.058928
                              1    2018-06-23 06:00:00  0.058928
                                   2018-06-23 12:00:00  0.058928
...                                                          ...
 30.0     60.0     600        0    2018-06-23 12:00:00  0.058928
                                   2018-06-23 18:00:00  0.058928
                              1    2018-06-23 06:00:00  0.058928
                                   2018-06-23 12:00:00  0.058928
                                   2018-06-23 18:00:00  0.058928

[77616 rows x 6 columns]